# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y secretos
.env

# Modelos pesados y pesos de IA
*.pt
*.pth
weights/

# Datasets y archivos temporales
datasets/
*.zip
*.tar.gz

# Caché de Python e IDE
__pycache__/
*.py[cod]
.vscode/
.idea/
.DS_Store

# Excluir entrenamientos y pesos de YOLO
runs/
*.pt